# Flutter build output
build/
.dart_tool/

# IDE
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/.kotlin/
android/build/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# macOS
macos/Pods/
macos/Flutter/ephemeral

# Web
# Widget Preview related
.widget_preview/
